extends mainlayout

block navigation
  ul.navbar-nav.ms-auto.me-2
        li.nav-item
          a.nav-link.d-flex.align-items.center.info-icon
            img(src='/images/info-circle.svg', style='width: 1.5rem;')
            span.info-text
              | IBAN: #{account.IBAN}
              br
              | BIC: #{account.BIC}
              br
              | Click to copy!
        li.nav-item
          a.btn.btn-light(href='/login') Sign Out
block content
  .container.mt-3
    .text-center
      h2
        strong Welcome, #{account.firstName} #{account.lastName}
      p.text-muted Your balance is €#{account.balance}
    .col.mb-5
      table.table
        thead
          tr
            th.text-center(scope='col', colspan='3') Recent Activity 
        tbody
          - var todayCount = 0;
          //handling today's transactions
          - console.log(transactionsJS.today())
          - console.log(account.transactions[0].date)
          if transactionsJS.today() === account.transactions[0].date
            - //first count the amount of transactions today
            each transaction in account.transactions
              if transactionsJS.today() === transaction.date
                - ++todayCount;
              else
                - break; //transactions *should* be in order, so we can break as soon as we find one that isn't today's.
            - //now lets display them
            - var firstDone = false; //th only needed once
            - var transValue;
            - var n = 0;
            while n < todayCount
              - ++n;
              tr
                if !firstDone
                  th(rowspan=todayCount) Today
                  - firstDone = true
                td #{account.transactions[n].desc}
                - transValue = account.transactions[n].value
                if transValue < 0
                  td.text-danger €#{transValue}
                else if transValue === 0
                  td.text-muted €#{transValue}
                else
                  td.text-muted €+#{transValue}
          - //handling the rest
          - //if a transaction happened more than once on a date, merge and display count instead.
          - var remainingTrans = []
          each transaction in account.transactions
            - //skip today's transactions as they've already been handled.
            if !(transaction.date === transactionsJS.today())
              - //check if remainingTrans contains a transaction with this date already, get the index
              -
                var existingIndex = remainingTrans.findIndex(element => {
                  var eDate = new Date(element.date);
                  if(eDate.toISOString().slice(0, 10) === transaction.date){
                    return true;
                  } else {
                    return false;                    
                  }
                });
              - //if it does, merge the values of the transactions, set name to contain amount of transactions
              - console.log(existingIndex)
              if existingIndex >= 0
                -
                  remainingTrans[existingIndex].value += transaction.value;
                  remainingTrans[existingIndex].count += 1;
                  remainingTrans[existingIndex].desc = remainingTrans[existingIndex].count + " transactions..."; 
              else
                -
                  remainingTrans.push({
                    date: transaction.date,
                    desc: transaction.desc,
                    value: transaction.value,
                    count: 1 });
          //finally, display the remaining transactions.
          each transaction in remainingTrans
            tr
              - var transDateStr = transactionsJS.dateDayOrdinal(transaction.date) + " " + transactionsJS.dateMonthLong(transaction.date).slice(0, 3);
              th #{transDateStr}
              td #{transaction.desc}
              - var transValue = transaction.value
              if transValue < 0
                td.text-danger €#{transValue}
              else if transValue === 0
                td.text-muted €#{transValue}
              else
                td.text-muted €+#{transValue}