extends mainlayout

block navigation
  ul.navbar-nav.ms-auto.me-2
        li.nav-item
          a.nav-link.d-flex.align-items.center.info-icon
            img(src='/images/info-circle.svg', style='width: 1.5rem;')
            span.info-text
              | IBAN: #{account.IBAN}
              br
              | BIC: #{account.BIC}
              br
              | Click to copy!
        li.nav-item
          a.btn.btn-light(href='/login') Sign Out
block content
  .container.mt-3
    .text-center
      h2
        strong Welcome, #{account.firstName} #{account.lastName}
      p.text-muted Your balance is €#{account.balance}
    .col.mb-5
      table.table
        thead
          tr
            th.text-center(scope='col', colspan='3') Recent Activity 
        tbody
          - var today = transactionsJS.today;
          - var yesterday = transactionsJS.yesterday;
          - var latestTransDate = new Date(account.transactions[0].date);
          - var todayCount = 0;
          //handling today's transactions
          if transactionsJS.datesMatching(today, yesterday)
            //first count the amount of transactions today
            each transaction in account.transactions
              - transDate = new Date(transaction.date);
              if transaction.date.getTime() === today.getTime()
                - ++todayCount;
              else
                - break; //transactions *should* be in order, so we can break as soon as we find one that isn't today's.
            //now lets display them
            - var firstDone = true; //th only needed once
            - var transValue;
            each transaction in account.transactions
              if firstDone
                th(rowspan='#{todayCount}') Today
                firstDone = false
              td #{transaction.desc}
              - transValue = transaction.value
              if transValue < 0
                td.text-danger €-#{transValue}
              else if transValue === 0
                td.text-muted €#{transValue}
              else
                td.text-muted €+#{transValue}
    .col.mb-2
    .col.mb-5