extends main-layout.pug

block headextras
  script.
    var detailsStr
    //had to do it this way, prior to having jquery set up.
    document.onreadystatechange = function () {
      if (document.readyState === 'complete') {
        var tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]')
        var tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl))
      }
    }
block navigation 
  li.nav-item.d-inline.align-middle.me-2.accountinfo
    script.
      function copyDetails(iban, bic){
        var detailsStr =
          `My details are: 
          IBAN: ${iban}
          BIC: ${bic}`;
        navigator.clipboard.writeText(detailsStr);
      }
    - var tooltipText = "<span class='ttInfo'>IBAN: " + account.IBAN + "</br> BIC: " + account.BIC + "</span><br>Click to copy!"
    - var onclickevent = "copyDetails('" + account.IBAN + "','" + account.BIC + "');" //very dumb workaround, function isn't of scope of account/whatever other data from the controller. 
    i.fa.fa-info-circle.nav-link#infoIcon(onclick=onclickevent data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title=tooltipText data-bs-html="true" data-bs-custom-class="ttClass")
block content
  .col-md-6
    .text-center
      h2
        strong Welcome, #{account.firstName} #{account.lastName}.
      p.text-muted Your balance is €#{account.balance}.
    .col.mb-5
      app-transactions-list Loading transactions...
block scripts
  script(src='/build/polyfills.js')
  script(src='/build/main.js')
  script(src='/build/runtime.js')