html
  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0, shrink-to-fit=no')
    title= title
    link(rel='stylesheet', href='/stylesheets/styles.css')
    link(rel='stylesheet', href='https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css')
    script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js' integrity='sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3' crossorigin='anonymous')
    script(src="https://use.fontawesome.com/4c115c132a.js")
    script(src="/jquery/jquery.js")
  body.bg-light
    nav.navbar.navbar-dark.bg-dark.fixed-top.navbar-expand-lg
      .container.text-light
        button.navbar-toggler.me-auto(data-bs-toggle='collapse' data-bs-target='#navbarNav')
          span.visually-hidden Toggle Navigation
          span.navbar-toggler-icon
        - var tooltipText = "IBAN: " + account.IBAN + "</br> BIC: " + account.BIC + "<br>Click to copy!"
        i.nav-link.fa.fa-info-circle.me-4#infoIcon.order-lg-2(data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title=tooltipText data-bs-html="true" data-bs-custom-class="ttClass")
        a.nav-link.btn.btn-outline-light.p-2.order-lg-3(href='/logout') Sign Out
        #navbarNav.collapse.navbar-collapse.order-lg-1
          ul.navbar-nav.me-auto.mb-lg-0
            block navigation
    main
        block content
block scripts
script.
  var detailsStr =
    `My details are: 
    IBAN: #{account.IBAN}
    BIC: #{account.BIC}`;

  $(document).ready(function () {
    var tooltipTriggerList = $('[data-bs-toggle="tooltip"]')
    var tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl))
      
    $('#infoIcon').click(function () {
      navigator.clipboard.writeText(detailsStr);
    });
  })