extends landing-layout

block nav
  a.nav-link.btn.btn-outline-dark.ms-auto.p-2(href='/login') Login
block content
  section.text-center
    .container.ps-4.pe-4
      form#registerform(action='/register', method='post')
        .mb-3
          label.form-label(for='firstName') First Name
          input.form-control(type='text' name='firstName', id='firstName', maxLength='20')
          if errors && errors.firstName
            .invalid-feedback #{errors.firstName.message}
            script.
              $('#firstName').addClass('is-invalid')
        .mb-3
          label.form-label(for='lastName') Last Name
          input.form-control(type='text' name='lastName', id='lastName', maxLength='20')
          if errors && errors.lastName
            .invalid-feedback #{errors.lastName.message}
            script.
              $('#lastName').addClass('is-invalid')
        .mb-3
          label.form-label(for='address') Address
          input.form-control(type='text' name='address', id='address', maxLength='50')
          if errors && errors.address
            .invalid-feedback #{errors.address.message}
            script.
              $('#address').addClass('is-invalid')
        .mb-3
          label.form-label(for='town') Town
          input.form-control(type='text' name='town', id='town', maxLength='30')
          if errors && errors.town
            .invalid-feedback #{errors.town.message}
            script.
              $('#town').addClass('is-invalid')
        .mb-3
          label.form-label(for='county') County
          input.form-control(type='text' name='county', id='county', maxLength='20')
          if errors && errors.county
            .invalid-feedback #{errors.county.message}
            script.
              $('#county').addClass('is-invalid')
        .mb-3
          label.form-label(for='eircode') Eircode
          input.form-control(type='text' name='eircode' id='eircode', maxLength='8')
          if errors && errors.eircode
            .invalid-feedback #{errors.eircode.message}
            script.
              $('#eircode').addClass('is-invalid')
        .mb-3
          button.btn.btn-primary.w-50(type='submit') Register
  if message
    .modal#registerModal
      .modal-dialog.modal-dialog-centered
        .modal-content
          .modal-header
            h5.modal-title #{messageTitle}
            button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
          .modal-body
            p !{message}
          .modal-footer
            a.btn.btn-primary(type='button' href='/login') Sign In
            button.btn.btn-secondary(type='button' data-bs-dismiss='modal') Close
    script.
      $(document).ready(function(){
        $("#registerModal").modal('show');
      })
  if form
    script.
      $(document).ready(function(){
        $('#firstName').val('#{form.firstName}');
        $('#lastName').val('#{form.lastName}');
        $('#address').val('#{form.address}');
        $('#town').val('#{form.town}');
        $('#county').val('#{form.county}');
        $('#eircode').val('#{form.eircode}');
      })